.add-card {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-card__container {
    width: 480px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fcfcfc;
}

.add-card__title {
    font-size: 24px;
}

.add-card__hint {
    font-size: 14px;
    font-weight: 300;
    color: #333;
    margin-bottom: 20px;
}
.add-card__buttons {
    padding-top: 10px;
}