.loading {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #777;
}

.loading .fa {
    font-size: 24px;
    margin-right: 10px;
}