.login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    background: #fefefe;
}

.login__title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.login__buttons {
    margin-top: 20px;
    text-align: center;
}

.login__buttons .button {
    width: 100%;
}